@use "src/sass/abstracts/" as *;

.auth {
  display: flex;
  justify-content: center;

  &_box {
    max-width: 396px;
    width: 100%;
    margin: 75px;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;

    background: #fff;

    .heading {
      margin-bottom: 25px;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .field ~ .field {
      margin-top: 20px;
    }

    .btn {
      margin-top: 15px;
    }
  }

  &_text {
    margin-top: 13px;
    > a {
      color: $pink_900;
      border: 1px solid transparent;
      &:hover{
        border-bottom: 1px dashed $pink_900;
      }
    }
  }
}
