@use "src/sass/abstracts/" as *;

.navbar{

    background: #fff;
    box-shadow: 0 2px 50px rgba(0,0,0,0.15);


    &_wrap{

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_logo{
        width: 35px;
        height: 35px;
        background: $pink_900;
        border-radius: 50%;
    }

    &_auth{
      display: flex;
      gap:19px
    }
    
    
    
}